{% extends 'layout.html' %}

{% block body %}
<h1 class="text-muted" style="text-align:center">Welcome to dashboard <small>{{session.name}}</small></h1>
<hr>
<div class="row">

    <div class="col-md-3">
        <div class="card mt-3 text-center border border-primary" >
            <img class="card-img-top" style="height:15rem;" src="/static/pic1.jpeg" alt="Logo" />
            <hr>
                <div class="card-body">
                    <a href="/dashboard/All"><h4 class="card-title">View All</h4></a>
                    <p class="card-text">Some example text.</p>
                    <a href="#"><i class="fa fa-world fa-fw" style="color:black"></i> </a>
                </div>
        </div>
    </div>

        {%for b in brands%}

            <div class="col-md-3">
                <div class="card mt-3 text-center border border-primary" >
                   <img class="card-img-top" style="height:15rem;" src="{{ b[2] }}" alt="Logo" />
                    <hr>
                    <div class="card-body">
                        <a href="{{ url_for('chosen_brand', brand=b[0]) }}"><h4 class="card-title">{{ b[0] }} </h4></a>
                        <p class="card-text">Some example text.</p>
                        <a href="{{ b[1] }}"><i class="fa fa-world fa-fw" style="color:black"></i> Visit website</a>
                    </div>
                </div>
            </div>


    {% endfor %}
</div>

{% endblock %}