{% extends 'layout.html' %}

{% block body %}
<h1 class="text-muted" style="text-align:center">{{brand}}</h1>
    <a href="{{ url_for('sort_lowtohigh', b=brand) }}" class="btn mt-2  btn-info">Sort by price: Low to high</a>
    <a href="{{ url_for('sort_hightolow', b=brand) }}" class="btn mt-2 btn-info">Sort by price: High to low</a>

<hr>

<div class="row">
    {% for p in products %}
        <div class="col-md-3">
            <div class="card mt-3 mb-1 border border-primary ">
                <img class="card-img-top" src="/static/pic1.jpeg" alt="Mobile Demo" />
                <hr>
                <div class="card-body">
                    <h4 class="card-title">{{ p[0] }} </h4>


                     <div>   <p class="card-text text-muted">RAM: {{ p[2] }}</p>
                        <p class="card-text text-muted">ROM: {{ p[3] }}.</p>
                        <p class="card-text text-muted">Battery: {{ p[4] }}</p>
                        <p class="card-text text-muted">Camera: {{ p[5] }}</p>
                        <p class="card-text text-muted">Cost: {{ p[6] }}</p>
                     </div>

                     <div class="text-center mt-2"> <a href="{{ url_for('place_order', model=p[0]) }}" class="btn  btn-primary">Place Order</a></div>

                </div>
            </div>
        </div>

    {% endfor %}
</div>
{% endblock %}